<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-style">
    <a class="navbar-brand" href="#">
        <img src="../../assets/images/lion.png" width="30" height="30" class="d-inline-block align-top">  Zoo App
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
        </ul>
      </div>
</nav>
