.zoo-title{
    text-align: center;
}

.card-body {
    height: 50vh;
    
}



.buttons{
    margin-top: 80px;
}

.btn {
    margin-bottom: 30px;
    width: 30vw !important;
}

.btn-signin {
    background-color: #DBAD4A !important;
    border-color: #DBAD4A !important; 
}
.btn-signup {
    background-color: #DF8453;
    border-color: #DF8453;
}

