<div class="buttons">
    <button type="button" class="btn btn-primary btn-lg btn-signin" (click)="loginWithKeycloak();">Sign In With Keycloak</button><br>
    <button type="button" class="btn btn-secondary btn-lg btn-signup">Sign Up</button>
</div>
        




