<div class="login-page row">
    <div class="title-container col-sm">
        <h2 class="welcome-title">
          <span class="title-word title-word-1">Welcome</span>
          <span class="title-word title-word-2">to</span>
          <span class="title-word title-word-3">Zoo</span>
          <span class="title-word title-word-4">App</span>
        </h2>
    </div>
    <div class="buttons">
        <app-login-form (login)="handleLogin()"></app-login-form>
    </div>
</div>